body{
	background:url(back.jpeg);
	background-repeat: no-repeat; 
	background-size: 100%;
}

.conteiner{
	text-align: center;	
	margin-top: 5%;
}

.content:before{
	position: center;
	content: "";
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: white;
	background-repeat: 0;
	background-image: green;
	background-size: 100%;
	background-position: center;
	position: absolute;
	transition-property: background;
	transition-duration: 3s;
	left: 30px;
}

#geiners.content:hover:before{
	background:url(ssss.png);
}
#protein.content:hover:before{
	background:url(ssss.png);
}
#creatine.content:hover:before{
	background:url(icon_creatine.jpg);
}


.content{
	position: center;
	margin-left: auto;
	margin-right: auto;
	width: 420px;
	height: 55px;
	background: white;
	font-size: 30pt;
	border: 2px solid green;
	border-radius: 20px;
	transform: scale(1); 	
	transition-duration: 0.4s;
	transition-property:transform,border,border-radius;
}

.content:hover{
	border-radius: 0px;
	transform: scale(1.1);
	border:6px solid blue;
}
